html {
    height: 100%;  
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Navigation */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;

}

nav a {
    text-decoration: none;
    color:black;
    margin-left: 15px;
}

nav img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 25px;

}

/* content */

.content {
    flex: 1 0 auto;
  } 

.container {
    text-align: center;
    margin-top: 100px;
    position: relative;
}

form input {
    margin: 25px;
    width: 40%;
    border-radius: 20px;
    height: 30px;
    padding: 25px;
}

form input:focus {
    outline: none;
    box-shadow:  0 0 10px 5px;
}

#seach_icon {
    position: absolute;
    top : 51%;
    left: 26%;
    
}

#microphone_icon {
    position: absolute;
    top : 51%;
    right: 26%;
}

button {
    padding: 10px;
}

/*footer */

footer {
    flex-shrink: 0;
    width: 100%;
  }

.location p {
    margin-left: 15px;
}

footer a {
    text-decoration: none;
    color: black;

} 

ul {
    padding:0;
}

li {
    display: inline;
    margin: 15px; 
}

.external_links {
    display: flex;
    justify-content: space-between;
}

@media (max-width : 992px) {
    .external_links {
        display: flex;
        flex-direction: column;  
        align-items: center;
        
    }
    .left_links {
        display: flex;
        justify-content: center;
        
        flex-wrap: wrap;
    }
    .right_links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
   
}

