html {
    height: 100%;
    width: 100%;  
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Navigation */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;

}

nav a {
    text-decoration: none;
    color:black;
    margin-left: 15px;
}

nav img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 25px;

}

/* content */

.content {
    flex: 1 0 auto;
  } 

.container {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 80%;
}

#searchBar {
    position: relative;
    width: 50%;
    margin: auto; 
    display: block;
}

form input {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 20px;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    outline: none;
    
}

form input:focus {
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#seach_icon {
    position: absolute;
    top : 40%;
    left: 5%;
    
}

#microphone_icon {
    position: absolute;
    top : 40%;
    right: 5%;
}

button {
    padding: 10px;
    margin: 10px;
}

.container a {
    text-decoration: none;
}

/*footer */

footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #F5F5F5;
  }

.location {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.location p {
    margin-left: 15px;
    
}

footer a {
    text-decoration: none;
    color: black;

} 

ul {
    padding:0;
}

li {
    display: inline;
    margin: 15px; 
}

.external_links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    #searchBar {
        width: 80%;
    }
}